.tile {
  border: solid;
  background: grey;
  width: 38px;
  height: 38px;
  border-width: 1px;
  display: inline-block;
  cursor: pointer;
}

.miss {
  border: solid;
  background: blue;
  width: 38px;
  height: 38px;
  border-width: 1px;
  display: inline-block;
  cursor: pointer;
}

.grid {
  width: 400px;
  height: 400px;
  display: inline-block;
  font-size: 0;
}

.hit {
  border: solid;
  background: brown;
  width: 38px;
  height: 38px;
  border-width: 1px;
  display: inline-block;
  cursor: pointer;
}
